* {
    box-sizing: border-box;
}

body {
    background-color: #23252C;
    color: #FFF;
    
    font-family: Inter, sans-serif;
}



.container {
    display: flex;
    flex-direction: column;
    
    margin: auto;
    
    width: 317px;
    height: auto;
    
    background-color: #1A1B21;
    border-radius: 10px 10px 10px 10px;
}

.info-container {
    padding: 0px 36px;
    display: flex;
    flex-direction: column;
}


.img--headshot{
    width: 317px;
    height: 317px;
    padding-left: 0px;
    
    border-radius: 10px 10px 0px 0px;
}

.info--name, 
.info--jobTitle {
    text-align: center;
}

.info--jobTitle{
    color: #F3BF99;
    font-weight: 600;
    margin-top: 6px;
}

.info--websiteLink {
    color: #F5F5F5;
    font-size: 12px;
    display: block;
    
    text-decoration: none;
    margin: auto;
}

.linkedin-cta{
    display: block;
    background-color: #5093E2;
    text-align: center;
    
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    
    
    padding: 9px 81.5px;
    margin-top: 15px;
    
    border-radius: 6px;
    
    width: 246px;
    height: 34px;
    
}

/* Typography Edits  */

h3 {
    font-size: 25px;
}

h4 {
    font-size: 16px;
}

.about-title {
    margin-top: 33px;
}

h3,
h4 {
    margin-bottom: 0;
}

/* selects the first p after an h4 */

h4 + p {
    margin-top: 5px;
    line-height: 150%;
}

p {
    font-size: 12px;
}

.interests-p {
    padding-bottom: 24px;
}

footer{
    background-color: #161619;
    
    border-radius: 0 0 10px 10px;
    padding: 20px 36px;
}

/* Darkmode  */

.darkmode {
    color: #2B283A;
    background-color: #F5F5F5;
}

.darkmode-websiteLink {
    color: #4A4E74;
}

.darkmode-footer {
    background-color: #D5D4D8;
}
